# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# dependencies
/node_modules

# Logs
/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# production
/build

# Environment variables
.env
.env.development
.env.production

# misc
.DS_Store

# Coverage directory used by testing frameworks
/coverage
/server.zip
/build.zip

# PM2 logs (if you are using PM2)
/pm2.log

# IDE or editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
