.header .header-button {
    margin: 0 10px;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
    /* Add transition for background color and text color */
}

.header .header-button:hover {
    transform: scale(1.05);
}

.header .header-button:focus {
    outline: none;
    /* Remove default outline */
}

.header .header-button:active {
    transform: scale(0.95);
    /* Scale down on click for feedback */
}
.header{
        background-color: rgba(2, 39, 51, 0.844);
}