.image-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    /* Add padding for sides */
}

h1,
h4 {
    color: #00ffcc;
    /* Match header colors */
}

.loading-message {
    color: #00ffcc;
    /* Match loading messages */
}

.button-container .download-button {
    background-color: #007bff;
    /* Button color */
    color: #fff;
    /* Button text color */
}